.footer{
  background:#3A3E46;
  padding: 10px 20px;
  color: white;
  font-size: 17px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
p{
  margin: 0 !important;
  text-align: center;
}
